[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gensim = "*"
nltk = ">=3.6.4"
wget = "*"
python-levenshtein = "*"
gunicorn = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
