[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gensim = "*"
nltk = ">=3.6.4"
wget = "*"
python-levenshtein = "*"
gunicorn = "*"
scipy = "==1.12"

[dev-packages]
ipython = "*"
notebook = "*"
